/* Тёмная тема */

@media (prefers-color-scheme: dark) {
  :root {
    --accent-color: #ff0070;
    --text-color: #f1b2ce;
    --background-color: #000028;
    --header-color: #db00ff;
    --border-color-hover: rgba(255, 0, 112, 0.4);
    --elements-color: #ff0070;
    --title-section-color: #000028;
    --title-color: #ff0070;
    --visible-rec: flex;
  }

  .page {
    background-image: url(../images/cover-image-dark.png);
  }
}

.page.theme_dark {
  --accent-color: #ff0070;
  --text-color: #f1b2ce;
  --background-color: #000028;
  --header-color: #db00ff;
  --border-color-hover: rgba(255, 0, 112, 0.4);
  --elements-color: #ff0070;
  --title-section-color: #000028;
  --title-color: #ff0070;
  --visible-rec: flex;
  background-image: url(../images/cover-image-dark.png);
}