/* Светлой тема */

.page.theme_light {
  --accent-color: #ff8dcb;
  --text-color: #353430;
  --background-color: #fff1f7;
  --elements-color: #353430;
  --header-color: #ffc2e6;
  --title-section-color: #353430;
  --title-color: #353430;
  --border-color-hover: rgba(50, 49, 45, 0.4);
  --visible-rec: none;
  background-image: url(../images/cover-image-light.png);
}